.reports_block {
  width: 85%;
  margin: 0 auto;

  .rep_title {
    margin: 10px 0;

    h1 {
      font-weight: bold;
      font-size: 16px;
      color: #666666;
      font-family: 'Open Sans', sans-serif;
    }

    p {
      margin: 0;
      font-size: 13px;
      color: #666666;
      font-family: 'Open Sans', sans-serif;
    }
  }

  .rep_card {
    padding: 20px 30px;
    height: 200px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      background: #fff;
      border-radius: 20px;
      box-shadow: 0 0 50px rgb(0, 0, 0, .1);
    }

    img {
      height: 50px;
      width: 50px;
    }

    .card_title {
      h4 {
        font-size: 14px;
        color: #663399;
        font-weight: 600;
        margin-top: 15px;
        font-family: 'Open Sans', sans-serif;
      }
    }

    .card_desc {
      line-height: 16px;
      font-family: 'Open Sans', sans-serif;
      color: #666666;
      font-size: 13px;
      p {
        margin-bottom: 5px;
      }

      h5 {
        color: #D0021B;
        font-size: 13px;
        line-height: 16px;
        font-family: 'Open Sans', sans-serif;
      }
    }
  }

  .bottom_border {
    padding-bottom: 10px;
    border-bottom: solid thin #ccc;
    margin-bottom: 30px;
  }
}
