<div class="bulk_main">
  <div class="main_header">
    <h2>Bulk Transfer</h2>
  </div>
  <div class="content_block">
    <div class="card">
      <div class="icon_block">
        <img src="assets/images/download-template.svg" alt="">
      </div>
      <div class="card_content">
        <h2>Download Template</h2>
        <p>Start by downloading the template </p>
        <button type="button" class="download_btn">Download</button>
      </div>
    </div>
    <div class="card mt-4">
      <div class="icon_block">
        <img src="assets/images/upload-data.svg" alt="">
      </div>
      <div class="card_content">
        <h2>Download Template</h2>
        <p>Start by downloading the template </p>
        <button type="button" class="download_btn">upload</button>
      </div>
    </div>
  </div>
</div>
