<div class="main_header">
  <div style="display: inline-block;">
    <h2>Chart Of Accounts</h2>
  </div>

  <div class="btn-group float-right">
    <button type="button" class="btn btn-danger">Action</button>
    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li><a>Income</a></li>
      <li><a>Expense</a></li>
      <li><a>Asset</a></li>
      <li><a>Liability</a></li>
      <li><a>Equity</a></li>
    </ul>
  </div>
  <!-- <ul class="dropdown-menu">
      <li><a>Income</a></li>
      <li><a>Expense</a></li>
      <li><a>Asset</a></li>
      <li><a>Liability</a></li>
      <li><a>Equity</a></li>
    </ul> -->
</div>
<div class="border-bottom"></div>
