<div class="main_block">
  <div class="main_header">
    <h2>Send</h2>
  </div>
  <div class="content-block">
    <div class="card">
      <div class="row m-0">
        <div class="col-md-4 col-sm-12">
          <div class="card_img">
            <div class="img_block">
              <img src="assets/images/bulk.svg" alt="">
            </div>
          </div>
          <div class="card_content">
            <h2>Bills</h2>
            <p>Add all your bills,<br> pay them together and<br> we take care of your bookkeeping.</p>
            <button type="button" class="card_btn" routerLink="../invoices">Add New Bill</button>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="card_img">
            <div class="img_block">
              <img src="assets/images/send.svg" alt="">
            </div>
          </div>
          <div class="card_content">
            <h2>Fund Transfer</h2>
            <p>
              Make payments to your<br> customers with a few clicks
              <br> and in no time.
            </p>
            <button type="button" class="card_btn">New Payment</button>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="card_img">
            <div class="img_block">
              <img src="assets/images/bulk.svg" alt="">
            </div>
          </div>
          <div class="card_content">
            <h2>Bulk Transfer</h2>
            <p>Make payments to a set of<br> beneficiaries in a few minutes with<br> the Bulk Transfer feature
              feature.</p>
            <button type="button" class="card_btn btn-lg">Intiate Bulk Payment</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
