.card_block {
  .col-md-3 {
    padding: 5px;
  }

  .card {
    height: 95px;
    padding: 20px;
    border: medium none;
    background: #FFFFFF;
    border-radius: 4px;

    // &.bg_blue {
    //   background-color: #4A90E2;
    // }

    // &.bg_orange {
    //   background-color: #ea6d78;
    // }

    .card_content {
      color: #434343;
      display: block;
      padding: 0 0 15px;
      font-size: 10px;
      line-height: 14px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
    }

    .sub {
      color: #4F4F4F;
      display: block;
      font-size: 21px;
      line-height: 14px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
    }
  }
}

.prof_block {
  .card {
    background-color: #2AD0C6;
    border-radius: 4px;
    border: none;

    &.profile {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100px;
      margin-bottom: 15px;
    }

    .img_block {
      float: right;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .prof_content {
      h2 {
        font-family: Open Sans;
        font-style: italic;
        font-weight: bold;
        font-size: 16px;
        line-height: 25px;
        margin: 0;
        padding: 0;
        color: #FFFFFF;
      }

      p {
        margin: 0;
        margin-top: 5px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 9px;
        line-height: 12px;
        color: #FFFFFF;
      }
    }
  }
}

.card {
  background-color: #FFFFFF;
  border-radius: 4px;
  border: none;

  &.ql_block {
    padding: 15px 20px;
    margin-bottom: 15px;
  }

  .ql_header {
    h4 {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 14px;
      color: #4F4F4F;
    }
  }

  .ql_content {
    h5 {
      text-transform: uppercase;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 14px;
      color: #828282;
      margin: 0;
      padding: 0;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        span {
          font-family: Open Sans;
          font-style: normal;
          font-weight: 600;
          font-size: 10px;
          line-height: 14px;
          color: #FC5C39;
          text-decoration: underline;
        }
      }
    }
  }
}

.ac_block {
  .card {
    padding: 20px;
    border: none;
    background: #fff none repeat scroll 0 0;
  }

  .cac_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .img_block {
    text-align: center;

    img {
      height: 70px;
    }
  }

  .ac_title {
    h2 {
      font-size: 20px;
      padding: 15px 0;
      color: #663399;
      text-align: center;
      font-weight: normal;
    }
  }

  .ac_ul {
    list-style-type: none;
    position: relative;

    &:before {
      content: ' ';
      // background: #d4d9df;
      display: inline-block;
      position: absolute;
      left: 29px;
      width: 2px;
      height: 100%;
      z-index: 20;
      border: 1px dashed #777777;
    }

    li {
      margin: 0;
      padding-left: 50px;

      span {
        font-weight: 600;
        color: #666666;
        font-size: 13px;
      }

      p {
        color: #999;
        font-size: 11px;
        margin-top: 6px;

        span {
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          color: #2F80ED;
        }
      }

      &:nth-child(2) {
        &::before {
          content: "2";
          background: #FCB140;
          border: 3px solid #E7E7E7;
          left: 18px;
          width: 25px;
          height: 25px;
          font-size: 10px;
          line-height: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #FFFFFF;
        }
      }

      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        &::before {
          background: #A9A9A9;
          border: 3px solid #E7E7E7;
          left: 18px;
          width: 25px;
          height: 25px;
          font-size: 10px;
          line-height: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #FFFFFF;
        }
      }

      &:nth-child(3) {
        &::before {
          content: "3";
        }
      }

      &:nth-child(4) {
        &::before {
          content: "4";
        }
      }

      &:nth-child(5) {
        &::before {
          content: "5";
        }
      }

      &:before {
        content: ' ';
        background: white;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #999;
        left: 20px;
        width: 20px;
        height: 20px;
        z-index: 400;
      }

      &.active {
        &:before {
          content: ' 1 ';
          background: #6FCF97;
          display: inline-block;
          position: absolute;
          border-radius: 50%;
          border: 3px solid #E7E7E7;
          left: 18px;
          width: 25px;
          height: 25px;
          z-index: 400;
          font-size: 10px;
          line-height: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #FFFFFF;
        }

        span {
          color: #219653;
        }
      }
    }
  }
}

/**@@@@@@ Chart Styles @@@@@@@*/
.chart_block {
  padding-top: 50px;


  .chart_title {
    display: flex;
    justify-content: space-between;

    h3 {
      font-weight: bold;
      font-size: 13px;
      color: #666666;
      margin: 0;
    }
  }

  .chart {
    background-color: #ffffff;
    min-height: 380px;
    // margin-top: 20px;

    canvas {
      padding: 0 20px 15px 20px;
    }
  }
}

/**  TABS STYLES   ***/
.tabs_block {
  min-height: 380px;

  .tab_headers {
    display: flex;
    justify-self: center;
    align-items: center;

    ul {
      border: none;

      li {
        border: none;
        padding: 20px 0;
        margin-left: 26px;

        a {
          font-family: Open Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          color: #000000;

          &:hover {
            border: none;
          }
        }

        .nav-link.active {
          border: none;
          border-bottom: 2px solid #2AD0C6;
        }
      }
    }
  }

  .tab-content {
    padding: 10px 25px;

    .name_block,
    .amount_block {
      margin-bottom: 18px;

      h3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        color: #333333;
        margin: 0;
      }

      p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        color: #828282;
        margin: 0;
      }
    }

    .amount_block {
      h3 {
        color: #219653;
        font-size: 12px;
      }
    }

    .btn_block {
      margin-top: -6px;
      position: relative;

      button {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        color: #FFFFFF;
        background: #EB5757;
        padding: 7px 15px;
        border: none;
        outline: none;
        border-radius: 4px;
      }

      img {
        position: absolute;
        left: 2px;
        top: 9px;
        right: auto;
      }
    }
  }

  .viewall_txt {
    float: right;
    p {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      margin: 0;
      color: #4F4F4F;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.drop_down {
  .form-group {
    position: relative;

    .form-control {
      outline: none;
      border: 1px solid transparent;
      font-size: 10px;
      line-height: 14px;
      font-family: 'Open-sans', sans-serif;
      height: 32px;
      background: #FFFFFF;
      border-radius: 4px;
      color: #757575;

      &:focus {
        box-shadow: none;
      }

    }

    button {
      position: absolute;
      top: 0;
      left: auto;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 10px;
      background-color: transparent;
      border: none;
      outline: none;
      border-radius: 5px;

      mat-icon {
        color: #B6B6B6;
      }
    }
  }
}

.date_block {
  float: right;

  button {
    min-height: 32px;
    background-color: #282D41;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    color: #F2F2F2;
    outline: none;
    padding: 0 10px;
  }
}

/**Open Pay*/
.open_pay {
  padding-top: 40px;

  .card {
    padding: 20px;
    border: none;
    background: #fff none repeat scroll 0 0;

    p {
      color: #663399;
    }

    span {
      color: #5c5c5c;
      font-size: 16px;
      font-style: normal;
      display: block;
      padding: 5px 0 0;
    }

    .bt_line {
      padding-bottom: 5px;
      border-bottom: dotted thin #ccc;
      margin-bottom: 5px;
    }

    .note {
      font-size: 12px;
      line-height: 22px;
      color: #666666;
    }
  }

  h2 {
    .circle {
      background: #fad052 none repeat scroll 0 0;
      border-radius: 50%;
      display: inline-block;
      height: 17px;
      color: #666666;
      line-height: 17px;
      text-align: center;
      width: 17px;
      font-size: 11px;
      margin-left: 7px;
      position: inherit !important;
      cursor: pointer;
      text-transform: none;
      font-weight: normal;
    }
  }
}

::ng-deep .mat-form-field-outline {
  background-color: #fff;
}

::ng-deep .mat-form-field-infix {
  padding: 5px 0 10px 0 !important;
  width: 130px !important;
}
body .ui-inputtext {
  min-height: 32px;
  background-color: #000000;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  color: #F2F2F2;
  padding: 0 10px;
}