<div class="dialog_block">
  <div class="dialog_header">
    <h1>Add {{data}}</h1>
  </div>
  <div class="dialog_content">
    <form action="">
      <div class="form_center">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="">Date</label>
              <input type="date" class="form-control">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="">Amount</label>
              <input type="text" class="form-control" placeholder="Amount">
            </div>
          </div>
        </div>
        <div class="form-group">
            <label for="">Received From (optional)</label>
          <input type="text" class="form-control" placeholder="Enter Contact Name">
        </div>
        <div class="form-group">
            <label for="">Category</label>
          <input type="text" class="form-control" placeholder="Select Category">
        </div>
        <div class="form-group">
            <label for="">Cash & Bank Account</label>
          <input type="text" class="form-control" placeholder="Select Account">
        </div>
        <div class="form-group">
            <label for="">Description (optional)</label>
          <input type="text" class="form-control" placeholder="Description">
        </div>
      </div>
      <div class="btn_block mt-3 mb-3">
        <button type="button" class="inv_btn" disabled>Save</button>
        <button type="button" class="cancel">Cancel</button>
      </div>
    </form>
  </div>
</div>
