<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <div *ngFor="let menuGroup of menuList">
        <div *ngIf="menuGroup.menus.length == 0">
          <a mat-list-item class="line" routerLinkActive="active" [routerLink]="['/'+menuGroup.group.code]">
            <span>{{ menuGroup.group.name  }}</span>
          </a>
        </div>
        <div *ngIf="menuGroup.menus.length > 0"
          [ngClass]="{'group-menu-selected': menuGroupSelected==menuGroup.group.code}">
          <a mat-list-item class="line" (click)="selectMenu(menuGroup.group)">
            <mat-icon class="arrow_icon">
              {{menuGroupSelected==menuGroup.group.code? 'keyboard_arrow_down': 'keyboard_arrow_right'}}
            </mat-icon>
            <span
              [ngClass]="{'group-selected': menuGroupSelected==menuGroup.group.code}">{{ menuGroup.group.name }}</span>
          </a>
          <div *ngIf="menuGroupSelected==menuGroup.group.code">
            <a *ngFor="let menu of menuGroup.menus" mat-list-item class="line" routerLinkActive="active"
              [routerLink]="['/'+menuGroup.group.code+'/'+menu.code]">
              <span>{{ menu.name }}</span>
            </a>
          </div>
        </div>
      </div>
      <div class="border-dashed mt-2"></div>
      <div class="prof_menu" (click)="showUserMenu()">
        <button class="dropdown-btn small" [ngClass]="{'active': isUserMenu}">Rameswara Rao
          <i aria-hidden="true" class="fa fa-chevron-down"></i>
        </button>
        <div class="dropdown-container small" *ngIf="isUserMenu">
          <a href="">Settings</a>
          <a href="" target="_blank">Help</a>
          <a href="" target="_blank">Terms &amp; Conditions</a>
          <div class="border-dashed"></div>
          <a href="">Logout</a>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="side_content">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-icon>add_circle</mat-icon>
      <span class="title_text"></span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
