<div class="len_details_block">
  <div class="len_det_header">
    <button>
      <img src="../../../../assets/images/back-arrow.svg" alt="">
      Go Back
    </button>
    <button class="red_bg">
      <img src="../../../../assets/images/page-export-pdf.svg" alt="">
      Export to PDF
    </button>
  </div>
  <div class="len_det_card_block">
    <div class="row ">
      <div class="col-md-3 ">
        <div class="card_content align-middle">
          <p>COMPANY NAME</p>
          <h3>Loknath Enterprises</h3>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="card_content align-middle">
          <p>PRODUCT NAME</p>
          <h3>Slippers & Leatherwear</h3>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card_content align-middle">
          <p>CITY</p>
          <h3>Kolkata, India</h3>
        </div>
      </div>
      <div class="col-md-3 p-0">
        <div class="card_content align-middle d-flex">
          <p>TRUST SCORE</p>
          <h3 class="txt_yellow">See how to imrove your score</h3>
          <div>
            <!-- <circle-progress
            [percent]="75"
              [radius]="60"
              [space]="10"
              [outerStrokeGradient]="true"
              [outerStrokeWidth]="10"
              [outerStrokeColor]="'#4882c2'"
              [outerStrokeGradientStopColor]="'#53a9ff'"
              [innerStrokeColor]="'#e7e8ea'"
              [innerStrokeWidth]=10
              [title]="75"
              [animateTitle]="false"
              [animationDuration]="1000"
              [showUnits]="false"
              [showBackground]="false"
              [clockwise]="false"
              [startFromZero]="false"
            ></circle-progress> -->
            <circle-progress
              [percent]="75"
              [radius]="30"
              [space]="-12"
              [outerStrokeWidth]="12"
              [showInnerStroke]="true"
              [showBackground]="false"
              [animation]="true"
              [animationDuration]="300"
              [showSubtitle]="false"
              [outerStrokeGradient]="false"
              [outerStrokeColor]="'#4882c2'"
              [innerStrokeColor]="'#fafafa'"
              [innerStrokeWidth]="8"
              [titleColor]="'#fff'"
            ></circle-progress>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="len_det_card_block_white">
    <div class="white_header">
      <h4>BUSINESS INCOME</h4>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="white_content">
          <h6>Revenue</h6>
          <h2>₹30,00,000</h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="white_content">
          <h6>Net Income</h6>
          <h2>₹30,00,000</h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="white_content">
          <h6>Net Margin</h6>
          <h2 class="blur_txt">10%</h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="white_content">
          <h6>ROIC</h6>
          <h2 class="blur_txt">15%</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="len_det_card_block_white">
    <div class="white_header">
      <h4>WORK CAPITAL EFFICIENCY</h4>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="white_content">
          <h6 class="mb-3">Days - Sale Outstanding</h6>
          <h2 class="blur_txt">40 <span>Days</span></h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="white_content">
          <h6 class="mb-3">Days - Payable Outstanding</h6>
          <h2 class="blur_txt">30 <span>Days</span></h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="white_content">
          <h6 class="mb-3">Days - Inventory Outstanding</h6>
          <h2 class="blur_txt">10 <span>Days</span></h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="white_content">
          <h6 class="mb-3">Working Capital Cycle</h6>
          <h2 class="blur_txt">20 <span>Days</span></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="len_det_card_block_white">
    <div class="white_header">
      <h4>BANKING BEHAVIOUR</h4>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="white_content">
          <h6 class="mb-3">Recurring Income</h6>
          <h2>₹27,00,000</h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="white_content">
          <h6 class="mb-3">Recurring Expense</h6>
          <h2 class="yellow_txt">₹27,00,000</h2>
        </div>
      </div>
      <div class="col-md-2">
        <div class="white_content p-0">
          <h6 class="mb-3">Daily Avg Balance</h6>
          <h2>₹95,000</h2>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6">
            <div class="white_content p-0 bl">
              <h6 class="mb-3">Default Instances</h6>
              <h2 class="blur_txt">15%</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="white_content p-0">
              <h6 class="mb-3">Overdraft Instances</h6>
              <h2 class="blur_txt">15%</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="len_det_card_block_white">
    <div class="white_header">
      <h4>ASSET STRENGTH</h4>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="white_content">
          <h6 class="mb-3">Current Assets / Current Liabilities</h6>
          <h2 class="blur_txt">1.5</h2>
        </div>
      </div>
      <div class="col-md-4">
        <div class="white_content">
          <h6 class="mb-3">Current Outstanding</h6>
          <div class="row">
            <div class="col-md-6">
              <div class="white_content p-0 bl">
                <h6 class="mb-3">Assets</h6>
                <h4>₹6,00,000</h4>
              </div>
            </div>
            <div class="col-md-6">
              <div class="white_content p-0">
                <h6 class="mb-3">Liabilities</h6>
                <h4 class="red_txt">₹4,00,000</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="white_content">
          <h6 class="mb-3">Debt/Equity</h6>
          <h2 class="blur_txt">3.4</h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="white_content">
          <h6 class="mb-3">Outstanding Debt</h6>
          <h2 class="red_txt">₹6,00,000</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="len_det_card_block_white">
    <div class="white_header">
      <h4>BUSINESS FACTORS</h4>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="white_content">
          <h6>Years of Operation</h6>
          <h2 class="blur_txt">10 Years</h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="white_content">
          <h6>Industry Growth</h6>
          <h2 class="blur_txt">7%</h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="white_content">
          <h6>Customer Concentration</h6>
          <h2 class="blur_txt">Medium</h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="white_content">
          <h6>Customer Relationship Duration</h6>
          <h2 class="blur_txt">5 Years</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="len_det_card_block_white">
    <div class="white_header">
      <h4>PERSONAL FACTORS</h4>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="white_content">
          <h6>Personal Cibil Score</h6>
          <h2 class="blur_txt">700</h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="white_content">
          <h6>Other Family Income</h6>
          <h2>₹4,00,000</h2>
        </div>
      </div>
      <!-- <div class="col-md-3">
        <div class="white_content">
          <h6>Customer Concentration</h6>
          <h2 class="blur_txt">Medium</h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="white_content">
          <h6>Customer Relationship Duration</h6>
          <h2 class="blur_txt">5 Years</h2>
        </div>
      </div> -->
    </div>
  </div>
</div>
