<div class="custom_dialog">
    <!-- <div class="icon_block">
      <i class="fas fa-times"></i>
    </div> -->
    <div class="dialog_header">
      <h2>Add Item</h2>
    </div>
    <div class="dialog_body">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="form-group">
            <label for="">Item name</label>
            <input type="text" class="form-control" [(ngModel)]="itemName">
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="form-group">
            <label for="">Item Type</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="form-group">
            <label for="">Item / SKU Code</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="form-group">
            <label for="">Description</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Rate</label>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
        </div>
      <div class="btn_block">
        <div class="btns">
          <button type="button" class="inv_btn">Add Item</button>
          <button type="button" class="cancel_btn" (click)="closeDialog()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  