.serach_block {
  padding-top: 25px;

  .form-group {
    .form-control {
      outline: none;
      border: 1px solid #ddd;
      font-size: 14px;
      font-family: 'Open-sans', sans-serif;

      &:focus {
        box-shadow: none;
      }

    }

    button {
      position: absolute;
      top: 0;
      left: auto;
      right: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 10px;
      background-color: #663399;
      border: none;
      outline: none;
      border-radius: 5px;

      mat-icon {
        color: #ffffff;
      }
    }
  }

  .inv_btn {
    width: 112px;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 5px 0;
    color: #ffffff;
    font-size: 13px;
    background: #663399;
    font-family: 'Open-sans', sans-serif;
    height: 35px;
    font-weight: 600;
    text-transform: capitalize;
  }
}

// Table styles
.table_block {
  table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  td,
  th {
    width: auto;
    font-size: 13px;
    font-weight: 500 !important;
    font-family: 'Open Sans', sans-serif;
    color: #797979;
  }

  .mat-elevation-z8 {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0),
      0 8px 10px 1px rgba(0, 0, 0, 0.02),
      0 3px 14px 2px rgba(0, 0, 0, 0.07);
  }
}

::ng-deep .mat-table thead {
  background: #d1e1fa !important;
  //   color: #797979 !important;
  height: 48px;
}

::ng-deep thead th {
  color: #666666 !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  font-family: 'Open Sans', sans-serif !important;
}

::ng-deep td.mat-cell {
  border-color: transparent;
}

tr.mat-header-row {
  height: 50px !important;
}
