<div class="bulk_main">
  <div class="main_header">
    <h2>Bulk Collect Request</h2>
  </div>
  <div class="border-bottom"></div>
  <div class="content_block">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4 p-0">
        <div class="card">
          <div class="icon_block">
            <img src="assets/images/excel.png" alt="">
          </div>
          <div class="card_content">
            <h2>Download Template</h2>
            <p>Start by downloading the template </p>
            <button type="button" class="download_btn">
              <span class="btn-label" aria-hidden="true"><img src="/assets/images/cloud-download.svg" alt=""></span>
              Download</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="icon_block">
            <img src="assets/images/excel.png" alt="">
          </div>
          <div class="card_content">
            <h2>Download Template</h2>
            <p>Start by downloading the template </p>
            <button type="button" class="download_btn">
              <span class="btn-label" aria-hidden="true"><img src="/assets/images/cloud_upload.svg" alt=""></span>
              upload</button>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
