.content_block {
  padding-top: 60px;
  .card {
    text-align: left;
    width: 370px;
    margin: 10px auto;
    max-width: 100%;
    background: linear-gradient(180deg, #FFFFFF 0%, #E4E4E4 100%);
    border-radius: 9px;
    display: inline-block;
    /* padding: 30px 25px 30px 20px; */
    padding: 30px 20px;
    border: none;

    // width: 50%;
    .icon_block {
      float: left;
      width: 30%;
      text-align: center;
    }

    .card_content {
      float: left;
      width: 70%;
      padding-left: 10px;

      h2 {
        font-size: 16px;
        font-weight: 400;
        color: #663399;
        padding: 0;
        color: #333333;
      }

      p {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 14px;
        color: #4F4F4F;
      }

      .download_btn {
        max-width: 112px;
        min-width: 120px;
        outline: none;
        border-radius: 5px;
        border: none;
        padding: 5px 0;
        color: #ffffff;
        font-size: 13px;
        background: #663399;
        font-family: 'Open-sans', sans-serif;
        height: 35px;
        font-weight: 600;
        text-transform: capitalize;
        margin-top: 12px
      }
    }
  }
}
