/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../node_modules/primeicons/primeicons.css';

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

span,
p,
h2,
h3 {
  // color: #666666;
  font-size: 13px;
}

.tooltip_info {
  background: #fad052 !important;
  color: #000000 !important;
  font-family: 'Open Sans', sans-serif !important;
}

.main_header {
  h2 {
    clear: both;
    color: #4F4F4F;
    // float: left;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
  }
}

.border-bottom {
  border-bottom: solid thin #ddd !important;
  display: block;
}

button {
  outline: none !important;
  font-family: 'Open Sans', sans-serif !important;
}

body .ui-table .ui-table-thead>tr>th {
  background: transparent;
  color: #434343;
  padding: 0 0 0 20px;
  height: 48px;
  border: none !important;
  vertical-align: middle;
  font-size: 12px !important;
  font-family: 'Open Sans', sans-serif !important;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

body .ui-table .ui-table-tbody>tr {
  background-color: #ffffff !important;
  border-radius: 4px;
}

.ui-table-tbody>tr>td {
  color: #4F4F4F;
  padding: 0 0 0 20px !important;
  height: 48px;
  border: none !important;
  vertical-align: middle;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border-bottom: solid 1px #f2f3f7 !important;
}

table tbody tr td {
  font-family: Roboto !important;
}

body .ui-chkbox .ui-chkbox-box {
  border-radius: 4px;
  border-color: #663399 !important;
  line-height: 1.125em;
  border-radius: 2px;
  text-align: center;
  height: 18px !important;
  width: 18px !important;
  outline: none;
}

.ui-widget :active {
  outline: 0;
}

html body .ui-dropdown.ui-widget.ui-state-default.ui-corner-all {
  display: inline-block !important;
  margin: 0 0 2px !important;
  width: 100% !important;
  border: none;
  border-radius: 5px;
  height: 38px;
  border: 1px solid #ddd;
}

body .ui-chkbox .ui-chkbox-box.ui-state-focus {
  box-shadow: none !important;
}

body .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
  font-size: 14px;
  font-weight: 200;
  padding: 0;
  line-height: 12px;
  margin-top: 2px;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active {
  color: #666666 !important;
  background-color: #ffffff !important;
}

.download_btn {
  background: #EB5757 !important;
}
