/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeng/resources/themes/nova-light/theme.css';

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

span,
p,
h2,
h3 {
  font-family: 'Open Sans', sans-serif;
  // color: #666666;
  font-size: 13px;
}

.tooltip_info {
  background: #fad052 !important;
  color: #000000 !important;
  font-family: 'Open Sans', sans-serif !important;
}

.main_header {
  h2 {
    clear: both;
    color: #7a4aaa;
    // float: left;
    font-size: 30px;
    font-weight: 300;
    padding: 0 0 15px 0;
    text-transform: capitalize;
  }
}

.border-bottom {
  border-bottom: solid thin #ddd !important;
  display: block;
}

button {
  outline: none !important;
  font-family: 'Open Sans', sans-serif !important;
}

body .ui-table .ui-table-thead>tr>th {
  background: #d1e1fa none repeat scroll 0 0;
  color: #797979;
  padding: 0 0 0 20px;
  height: 48px;
  border: none !important;
  vertical-align: middle;
  border-bottom: solid 1px #dddddd !important;
  font-size: 13px !important;
  font-family: 'Open Sans', sans-serif !important;
}

.body .ui-table .ui-table-tbody>tr>td {
  background: #fff;
  color: #222;
  border: none !important;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

.ui-table-tbody>tr>td {
  color: #797979;
  padding: 0 0 0 20px !important;
  height: 48px;
  border: none !important;
  vertical-align: middle;
  border-bottom: solid 1px #dddddd !important;
  font-size: 13px !important;
  font-family: 'Open Sans', sans-serif !important;
}
.ui-table-tbody>tr:last-child>td {
  border-bottom: none !important;
}
