<div class="main_header">
  <h2>Transactions</h2>
  <div class="drop">
    <select class="bank-dropdown custom-select">
      <option selected="selected" value="All">All</option>
      <option disabled="disabled">----------</option>
      <option value="Manual">Manual Transactions</option>
      <option value="Journal">Journal Entries</option>
      <option disabled="disabled">----------</option>
      <option value="5: Object">
        <span>
          OPEN Pay
        </span>
      </option>
      <option value="6: Object">
        <span>
          Central Bank of India (Corporate) - #xxxx5827
        </span>
      </option>
    </select>
  </div>
</div>
<div class="border-bottom"></div>
<div class="but_block mt-4 mb-1">
  <ul class="accountBalance float-right">
    <li><a class="bttn inv_btn" (click)="openAddDialog('Income')">Add Income</a></li>
    <li><a class="bttn inv_btn" (click)="openAddDialog('Expense')">Add Expense</a></li>
    <li><a class="bttn inv_btn" data-target="#addJournalEntryModal" data-toggle="modal">Add Journal Entry</a></li>
  </ul>
</div>
<div class="all_table">
  <table class="table table-hover">
    <thead class="thead">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Contact</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Amount</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">06-12-2019</th>
        <th scope="row"></th>
        <td>Sales</td>
        <td>Journal Entry</td>
        <td><span class="y_color">₹2,000.00</span>
        </td>
        <td class="show_edit">
          <button class="menu"></button>
          <span class="invoiceListOption new-box-shadow border-radius-13">
            <ul class="invoiceListOptionList">
              <!---->
              <li>
                <a title="Delete">
                  <span class="editIcons">
                    <!-- <img alt="icon" src="assets/greyedit-icon.svg"> -->
                    <i class="fa fa-times"></i>
                  </span>
                  <span>Delete Journal Entry</span>
                </a>
              </li>
            </ul>
          </span>
        </td>
      </tr>
      <tr>
        <th scope="row">06-12-2019</th>
        <th scope="row"></th>
        <td>TO TRANSFER/ards consultant fees</td>
        <td>Accounting fee - Default </td>
        <td><span class="r_color">₹5,00.00</span>
        </td>
        <td class="show_edit">
          <button class="menu"></button>
          <span class="invoiceListOption new-box-shadow border-radius-13">
            <ul class="invoiceListOptionList">
              <!---->
              <li>
                <a title="Delete">
                  <span class="editIcons">
                    <!-- <img alt="icon" src="assets/greyedit-icon.svg"> -->
                    <i class="fa fa-times"></i>
                  </span>
                  <span>Delete Journal Entry</span>
                </a>
              </li>
            </ul>
          </span>
        </td>
      </tr>
      <tr>
        <th scope="row">06-12-2019</th>
        <th scope="row"></th>
        <td>TO TRANSFER/ards consultant fees</td>
        <td>Accounting fee - Default </td>
        <td><span class="g_color">₹35,000.00</span>
        </td>
        <td class="show_edit">
          <button class="menu"></button>
          <span class="invoiceListOption new-box-shadow border-radius-13">
            <ul class="invoiceListOptionList">
              <!---->
              <li>
                <a title="Delete">
                  <span class="editIcons">
                    <!-- <img alt="icon" src="assets/greyedit-icon.svg"> -->
                    <i class="fa fa-times"></i>
                  </span>
                  <span>Delete Journal Entry</span>
                </a>
              </li>
            </ul>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
